<div class="overlay"></div>

<div class="screen-size-warning">
    <div class="page-border gold-border">
        <div>
            <div class="logo">
                <img src="/assets/images/sage.png" alt="Sage of Empires" />
            </div>
    
            <div class="sorry-message">
                <h1>This screen size is not supported!</h1>
                <p>Sorry, this is designed for a second PC screen for use when playing AOE2 DE. I can't fit all the information on smaller screens.</p>
            </div>
        </div>
    </div>
</div>
