.resource-w{
    color: rgb(92, 44, 22);
}

.resource-f{
    color: rgb(184, 15, 15);
}

.resource-g{
    color: rgb(170, 130, 0);
}

.resource-s{
    color: rgb(75, 75, 75);
}

.resource:nth-child(2){
    margin-left: 5px;
}