
<div *ngIf="gameService.player">
    <h3>Suggested build orders</h3>

    <ul>
        <li *ngFor="let buildOrder of buildOrderService.buildOrders | isRecommended">
            <button (click)="selectBuildOrder(buildOrder)">{{buildOrder.name}}</button>
        </li>
    </ul>
</div>

<div>
    <h3>All build orders</h3>

    <ul>
        <li *ngFor="let buildOrder of buildOrderService.buildOrders">
            <button (click)="selectBuildOrder(buildOrder)">{{buildOrder.name}}</button>
        </li>
    </ul>
</div>
