.civ-details{
    .civ-icon{
        max-width: 100%;
    }

    .no-margin-bottom{
        margin-bottom: 0;
    }

    .colour-picker{
        text-align: center;
    }

    .settings{
        background: #000;
        color: #aaa !important;

        .settings-title{
            color: #aaa;
        }
    }

    ::ng-deep .tech-costs{
        .costs{
            display: block;

            .resource{
                font-weight: bold;
            }
        }
    }

    ::ng-deep .units-list-expansion-panel .mat-expansion-panel-body{
        padding-bottom: 0;
    }

    .bonus-list{
        ::ng-deep .mat-card-header-text{
            margin-left: 0;
        }

        ul{
            margin-top:0;
            padding-left:20px;
            padding-right: 10px;
        }
    }
}