.civ-details{
    .civ-icon{
        max-width: 100%;
    }

    .no-margin-bottom{
        margin-bottom: 0;
    }

    .colour-picker{
        text-align: center;
    }

    .settings{
        background: #555;
        color: #999;
    }
}