<div class="civ-details">

    <mat-card>
        <mat-card-header>
            <div mat-card-avatar><img class="civ-icon" src="{{civ.getIconPath()}}" /></div>
            <mat-card-title>{{civ.name}}</mat-card-title>
            <mat-card-subtitle class="no-margin-bottom">{{civ.armyType}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <div class="margin-top">
        <mat-accordion multi>
            <mat-expansion-panel *ngIf="!hasCompletedSettingsOnce" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Settings
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="colour-picker">
                    <app-colour-chooser (onColourSelected)="changeColour($event)" ></app-colour-chooser>
                </div>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Unique units
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngFor="let unit of civ.uniqueUnits">

                    <mat-card class="mat-elevation-z0 no-padding-top">
                        <mat-card-header>
                            <div mat-card-avatar class="large-avatar"><img class="civ-icon" src="{{unit.getIconPath()}}" /></div>
                            <mat-card-title>{{unit.name}}</mat-card-title>
                            <mat-card-subtitle class="no-margin-bottom">
                                <small class="unit-strength good">{{unit.strengths}}</small><br />
                                <small class="unit-weakness bad">{{unit.weaknesses}}</small>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Techs
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="fifty-fifty">
                     <div>
                        <mat-card class="mat-elevation-z0 no-padding-top">
                            <mat-card-header>
                                <div mat-card-avatar><img class="civ-icon" src="/assets/images/techs/UniqueTechCastleAge.webp" /></div>
                                <mat-card-title>{{civ.castleTech.name}}</mat-card-title>
                                <mat-card-subtitle class="no-margin-bottom">
                                    {{civ.castleTech.details}}
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                     </div>
                     <div>
                        <mat-card class="mat-elevation-z0 no-padding-top">
                            <mat-card-header>
                                <div mat-card-avatar><img class="civ-icon" src="/assets/images/techs/UniqueTechImperialAge.webp" /></div>
                                <mat-card-title>{{civ.imperialTech.name}}</mat-card-title>
                                <mat-card-subtitle class="no-margin-bottom">
                                    {{civ.imperialTech.details}}
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bonuses
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="fifty-fifty">
                     <div>
                        <mat-card class="mat-elevation-z0 no-padding-top">
                            <mat-card-header>
                                <mat-card-title>Civ bonuses</mat-card-title>
                            </mat-card-header>

                            <ul>
                                <li *ngFor="let bonus of civ.civBonuses">{{bonus}}</li>
                            </ul>
                        </mat-card>
                     </div>
                     <div>
                        <mat-card class="mat-elevation-z0 no-padding-top">
                            <mat-card-header>
                                <mat-card-title>Team bonuses</mat-card-title>
                            </mat-card-header>

                            <ul>
                                <li>{{civ.teamBonus}}</li>
                            </ul>
                        </mat-card>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="hasCompletedSettingsOnce" class="settings">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Settings
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="colour-picker">
                    <app-colour-chooser (onColourSelected)="changeColour($event)" ></app-colour-chooser>
                </div>

            </mat-expansion-panel>
        </mat-accordion>
    </div>