.add-player {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .civs {
    width: 95%;
    box-sizing: border-box;
    text-align: center;
  }

  .civ-search {
    padding-top: 20px;

    input {
      font-size: 18px;
      border: 2px solid #000;
      background: #ccc;
      color: #000;
      padding: 20px;

      &:focus {
        background: #fff;
      }
    }
  }

  .icon-grid {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    grid-row-start: 1;
    grid-row-end: 4;

    a {
      text-align: center;
      cursor: pointer;
      padding: 7px 5px 5px;

      &:hover {
        background: #000;
      }

      img {
        max-width: 50px;
        margin: 0;
      }

      h5 {
        text-align: center;
        color: #CCC;
        margin: 0;

        &::first-letter{
            font-size: 150%;
            color: rgb(255, 235, 123);
        }
      }
    }
  }
}
