/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    scroll-behavior: smooth;
  }

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }


.fifty-fifty{
    display: flex;

    > div{
        width: 50%;
    }
}

.full-width-button{
    width: 100%;
    display: block;
}

::ng-deep .full-width-button-in-list{
    margin-top: 21px;
}

.full-width-image{
    max-width: 100%;
    width: 100%;
}

/* Material additions */

.mat-card-avatar.large-avatar{
    width: 60px;
    height: 60px;
}





/* Colours */


.good{
    color: rgb(31, 114, 31);
}

.bad{
    color: #eb0000;
}

.background-blue{
    background: #3e59f8;
    color: white;
}

.background-red{
    background: #eb0000;
    color: white;
}

.background-green{
    background: #00fe00;
    color: black;
}

.background-yellow{
    background: #ffff01;
    color: black;
}

.background-cyan{
    background: #00ffff;
    color: black;
}

.background-pink{
    background: #ff57b3;
    color: white;
}

.background-grey{
    background: #797979;
    color: white;
}

.background-orange{
    background: #f99100;
    color: black;
}


.background-blue-ish{
    background: #3e59f850;
    background: linear-gradient(#3e59f880, #3e59f800);
    color: white;
}

.background-red-ish{
    background: #eb000050;
    background: linear-gradient(#eb000080, #eb000000);
    color: white;
}

.background-green-ish{
    background: #00fe0080;
    background: linear-gradient(#00fe0050, #00fe0000);
    color: black;
}

.background-yellow-ish{
    background: #ffff0150;
    background: linear-gradient(#ffff0180, #ffff0100);
    color: black;
}

.background-cyan-ish{
    background: #00ffff50;
    background: linear-gradient(#00ffff80, #00ffff00);
    color: black;
}

.background-pink-ish{
    background: #ff57b350;
    background: linear-gradient(#ff57b380, #ff57b300);
    color: white;
}

.background-grey-ish{
    background: #79797950;
    background: linear-gradient(#797979FF, #79797900);
    color: white;
}

.background-orange-ish{
    background: #f9910050;
    background: linear-gradient(#f9910080, #f9910000);
    color: black;
}

.padding{
    padding: 20px;
}

.padding-top{
    padding-top: 20px;
}

.padding-bottom{
    padding-bottom: 20px;
}

.margin{
    margin: 20px;
}

.margin-top{
    margin-top: 20px;
}

.margin-top-small{
    margin-top: 10px;
}

.margin-top-tiny{
    margin-top: 5px;
}

.margin-bottom{
    margin-bottom: 20px;
}