/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background-blue{
    background: #3e59f8;
    color: white;
}

.background-red{
    background: #eb0000;
    color: white;
}

.background-green{
    background: #00fe00;
    color: black;
}

.background-yellow{
    background: #ffff01;
    color: black;
}

.background-cyan{
    background: #00ffff;
    color: black;
}

.background-pink{
    background: #ff57b3;
    color: white;
}

.background-grey{
    background: #797979;
    color: white;
}

.background-orange{
    background: #f99200;
    color: black;
}

