<div class="build-order-panel margin no-margin-top" #divToScroll>
  <div>
    <mat-tab-group dynamicHeight [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" class="build-order-tabs">
      <mat-tab label="Choose build order">
        <div>
          <app-choose-build-order></app-choose-build-order>
        </div>
      </mat-tab>
      <mat-tab label="Plan">
        <div>
          <div *ngIf="buildOrderService.selectedBuildOrder">
            <h3 class="selected-build-order padding no-margin-bottom">{{buildOrderService.selectedBuildOrder.name}}</h3>

            <ul class="build-order-steps no-margin-top">
              <li class="build-order-step done">
                <div class="step-details">
                  <p class="details help">
                    <span class="left"><span>&darr;</span>Villager number</span>
                    <span class="right">Villager activities<span>&darr;</span></span>
                  </p>
                </div>
              </li>
              <li class="build-order-step" [ngClass]="{'build-order-step': true, 'is-age-up': !!step.ageUpValue}" [appBuildOrderTarget] [idealTime]="step.idealTimeInSeconds"
                attr.data-scroll-to-seconds="{{step.idealTimeInSeconds}}"
                *ngFor="let step of buildOrderService.selectedBuildOrder.steps">
                <div class="villager-count" *ngIf="!step.ageUpValue">
                  {{(step.villagerCount == "1" ? 3 : step.villagerCount)}}
                </div>
                <div class="villager-count" *ngIf="!!step.ageUpValue">{{step.ageUpValue}}</div>
                <div class="step-details">
                  <p class="details">
                    <span class="left">{{step.details}}</span>
                    <span class="right"><app-resource-costs [costs]="step.resources"></app-resource-costs></span>
                  </p>
                  <div *ngIf="step.footnotes">
                    <p class="footnote" *ngFor="let footnote of step.footnotes">&rarr; {{footnote}}</p>
                  </div>
                </div>
              </li>
            </ul>

            <div class="final-tips" *ngIf="buildOrderService.selectedBuildOrder.finalTips">
              <h4>Final tips</h4>
              <p>{{buildOrderService.selectedBuildOrder.finalTips}}</p>
              <p *ngIf="!buildOrderService.selectedBuildOrder.hideOnYourOwn">But from now on...</p>
              <p *ngIf="!buildOrderService.selectedBuildOrder.hideOnYourOwn"><strong>YOU'RE ON YOUR OWN!</strong></p>
            </div>
            
            <div class="external-provider" *ngIf="buildOrderService.selectedBuildOrder.externalProvider">
              <h4>Based on a build order by {{buildOrderService.selectedBuildOrder.externalProvider}}</h4>
              <p>You can view the original build order at <a href="{{buildOrderService.selectedBuildOrder.externalUrl}}" target="_blank">{{buildOrderService.selectedBuildOrder.externalUrl}}</a></p>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>