.build-order-panel{
    overflow-y: scroll;

    .selected-build-order{
        text-align: center;
        font-weight: bold;
    }

    .build-order-tabs{
        padding: 10px;
        border: 3px solid #555;
        border-radius: 3px;
    }

    .final-tips{
        text-align: center;
        background: #f1e4c3;
        padding: 20px;
        border: 2px solid goldenrod;

        h4{
            font-weight: bold;
        }

        p:last-child{
            margin: 0;
        }
    }

    .external-provider{
        text-align: center;
        background: #cee8e8;
        padding: 20px;
        border: 2px solid #386868;

        h4{
            font-weight: bold;
        }

        p:last-child{
            margin: 0;
        }
    }
}

.build-order-steps{
    padding: 0;
    list-style-type: none;

    .build-order-step{
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ccc;

        .step-details{
            width: 100%;
        }

        .villager-count{
            display: flex;
            min-width: 40px;
            width: 40px;
            height: 40px;
            background: #333;
            color: white;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
        }

        &.is-age-up .villager-count{
            min-width: 40px;
            width: 40px;
            height: 40px;
            background: rgb(114, 12, 12);
            font-family: serif;
        }

        .details{
            font-weight: bold;
            display: flex;
            width: 100%;

            .left{
            }

            .right{
                margin-left: auto;
            }

            &.help{
                font-weight: normal;
                margin-bottom: 0;

                .left{
                    span{
                        width: 40px;
                        text-align: center;
                        margin-right: 10px;
                        display: inline-block;
                    }
                }

                .right{
                    span{
                        width: 30px;
                        text-align: center;
                        display: inline-block;
                    }
                }
            }
        }

        &.is-age-up .details{
            color: rgb(114, 12, 12);
        }

        &.gold .villager-count{
            background: goldenrod;
        }

        &.silver .villager-count{
            background: silver;
        }

        &.bronze .villager-count{
            background: peru;
        }

        &.done,
        &.is-age-up.done,
        &.is-age-up.done .details,
        &.done .details ::ng-deep .resource {
            color: #AAA !important;
        }

        &.done .villager-count{
            background: white;
            color: #AAA;
        }
    }
}