.game{
    height: 100%;

    .container {
        display: flex;
        height: 100%;
        background: black;
      }
      
      .build-order {
        width: 30%; /* A fixed width as the default */
        height: 100%;
        max-height: 100%;
        background: white;
        background: linear-gradient(#EEE, #FFF);
        border-left: 3px solid #ccc;
        border-right: 3px solid #ccc;
      }
      
      .player { 
        width: 35%;
        height: 100%;
        max-height: 100%;
        background: #222;
      }
}